.backtoHomeButton {
  top: 16px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid rgba(100, 16, 32);
  background-color: antiquewhite;
  color: rgba(100, 16, 32) !important;
  cursor: pointer;
}

li {
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
}


.entryContainer {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 8px;
  margin: 4px;
}

form {
  display: flex;
  flex-direction: column;

  .entryInput {
    line-height: 1.5;
    font-size: 14px;
    font-family: "Roboto";
    margin-bottom: 16px;
    color: inherit;
    padding: 8px;
    border: solid 1px #b2b8b8;
    appearance: none;
    background: transparent;
    border-radius: 10px;
    width: 70vw;
    ::placeholder {
      color: #b2b8b8;
    }
  }
}

.buttonRightContainer {
  display: flex;
  justify-content: flex-end;
}

.entryMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editOrDeleteContainer {
  display: flex;
  gap: 8px;
  justify-content: flex-end;

  img {
    height: 20px;
    cursor: pointer;
    &:hover {
      height: 22px;
    }
  }
}


.editEntry {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .editInput {
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 16px;
    color: inherit;
    padding: 8px;
    border: solid 1px #b2b8b8;
    appearance: none;
    background: transparent;
    border-radius: 10px;
    ::placeholder {
      color: #b2b8b8;
      font-family: "Roboto" !important;
    }

  }

}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
