.backtoHomeButton {
  top: 16px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid rgba(100, 16, 32);
  background-color: antiquewhite;
  color: rgba(100, 16, 32) !important;
  cursor: pointer;
}

li {
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
}

h4 {
  margin: 8px;
}

h5 {
  margin: 8px;
}

.entryContainer {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 8px;
  margin: 4px;

  img {
    height: 50px;
    cursor: pointer;
  }
}

form {
  display: flex;
  flex-direction: column;

  .entryInput {
    line-height: 1.5;
    font-size: 14px;
    font-family: "Roboto";
    margin-bottom: 16px;
    color: inherit;
    padding: 8px;
    border: solid 1px #b2b8b8;
    appearance: none;
    background: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    ::placeholder {
      color: #b2b8b8;
    }
  }
}

.buttonRightContainer {
  display: flex;
  justify-content: flex-end;
}

.entryMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editOrDeleteContainer {
  display: flex;
  gap: 8px;
  justify-content: flex-end;

  img {
    height: 20px;
    cursor: pointer;
    &:hover {
      height: 22px;
    }
  }
}

.editEntry {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 80vh;

  .editInput {
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 16px;
    color: inherit;
    padding: 8px;
    border: solid 1px #b2b8b8;
    appearance: none;
    background: transparent;
    border-radius: 10px;
    ::placeholder {
      color: #b2b8b8;
      font-family: "Roboto" !important;
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#images {
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
}

.showImage {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 8px;
  margin: 4px;

  img {
    height: 500px;
    cursor: pointer;
  }
}

.deleteImageContainer {
  display: flex;
  gap: 4px;
}

.deleteImage {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    font-size: 12px;
  }
}

.entryImagesContainer {
  display: flex;
  gap: 8px;
}

.buttons {
  gap:16px;
  display:flex;
}