<div class="legal">
    <h1 translate>Impressum</h1><br>
    <span>Anne Eberhard</span><br>
    <span>Prühßstraße 24</span><br>
    <span>12105 Berlin</span><br>
    <span>Email: anne.eberhard[at]gmx.net</span>
  </div>
  <div class="registerInputBox">
    <input type="checkbox" id="guarantor" name="guarantor" value="guarantor" />
    <label for="guarantor"> Ich habe einen Bürgen.</label><br />
    <input type="checkbox" id="noGuarantor" name="noGuarantor" value="noGuarantor" />
    <label for="noGuarantor"> Ich habe keinen Bürgen, bitte kontaktiert mich.</label><br />
  </div>
