<section>
  <div id="loginBox">
    <h1>Hallo!</h1>
    <p>
      Dies ist eine Webseite für die ostfriesische Familie Kempe und ihre
      Verwandten. Da hier der Familienstammbaum hinterlegt ist, dürfen nur
      verifizierte Familienmitglieder darauf zugreifen. Für die Registrierung
      braucht ihr die Empfehlung eines bereits registrierten, uns bekannten
      Nutzers oder müsst euch anderweitig ausweisen.
      <br />Noch ein Hinweis: Diese Seite ist derzeit nur bedingt responsiv - das
      heißt, ihr werdet manche Dinge nur auf einem Computerbildschirm vernünftig sehen können, nicht an
      kleineren Geräten wie z.B. am Handy.
    </p>
    <p>Hier geht es zur <a routerLink="/register">Registrierung!</a></p>
    <h3>Schon registriert? Hier ist der Login:</h3>
    <form #form="ngForm" (ngSubmit)="login()">
      <input
        required
        name="email"
        [(ngModel)]="email"
        id="email"
        placeholder="Emailadresse"
      />
      <div class="passwordContainer">
        <input
          required
          [type]="passwordVisible ? 'text' : 'password'"
          name="password"
          [(ngModel)]="password"
          id="password"
          placeholder="Passwort"
        />
        <div type="button" (click)="togglePasswordVisibility()" class="togglePassword">
          <span *ngIf="passwordVisible">👁️</span>
          <span *ngIf="!passwordVisible">🙈</span>
        </div>
      </div>
      <p *ngIf="errorMessage" class="errorMessage">{{ errorMessage }}</p>
      <button type="submit" [disabled]="!form.valid">Einloggen</button>
    </form>
    
   

    <a class="center" routerLink="/forgot">Passwort vergessen?</a>
  </div>
</section>
