  <section>
    <div id="loginBox">
      <h2>Passwort vergessen?</h2>
      <form #form="ngForm" (ngSubmit)="sendMail()">
        <input required name="email" id="email" placeholder="Email address" [(ngModel)]="email" #emailInput="ngModel" />
        <button type="submit" [disabled]="!form.valid">Senden</button>
      </form>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  
      <p id="infoBox">Frag einen Link zum Neusetzen des Passwortes an.
      </p>
    </div>
  </section>
