<section>
  <h2>Familienrezepte</h2>
  <p>
    Es gibt ja das eine oder andere leckere Familienrezept, welches über die Generationen weitergereicht wurde.
    Ihr könnt dies hier einfach per Foto oder im Text hochladen. Insgesamt können vier Fotos hochgeladen werden.<br /><br />
    Jeder Nutzer kann immer nur seinen eigenen Beiträge bearbeiten oder löschen.
    Sollten euch Beiträge auffallen, die problematisch sind, informiert uns bitte.
  </p>
  <div class="subheader">
    <div>
      <button (click)="showPopUp('add', this.entry)">
        Eigenes Rezept hochladen
      </button>
    </div>
    <div>
      <h3>Vorhandene Rezepte</h3>
      <input
        type="text"
        placeholder="Durchsuche Liste..."
        (input)="filterEntries($event)"
        class="searchInput"
      />
      <ul>
        <li *ngFor="let recipe of filteredRecipes" (click)="goToRecipe(recipe.id)">Rezept für: {{ recipe.title }}</li>
      </ul>
    </div>
  </div>

  <div *ngFor="let recipe of recipes" class="entryContainer" >
    <h2 [id]="recipe.id">{{ recipe.title }}</h2>
    <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(recipe.content)"></div>
    <div class="entryImagesContainer">
      <div *ngFor="let imageUrl of getImageArray(recipe)">
        <img (click)="showPopUp('image', imageUrl)" [src]="imageUrl" alt="recipe Image" />
    </div></div>
    <div class="entryMeta">
      <p>Author: {{ recipe.author_email }}</p>
      <p>
        <small>Erstellt am: {{ recipe.created_at | date : "short" }}</small
        ><br />
        <small
          >Zuletzt bearbeitet: {{ recipe.updated_at | date : "short" }}</small
        >
      </p>
      <div class="editOrDeleteContainer">
        <img
          src="assets/images/edit_24dp_RGBA(100, 16, 32)_FILL0_wght400_GRAD0_opsz24.png"
          *ngIf="recipe.author_email === userEmail"
          (click)="showPopUp('edit', recipe)"
        />
        <img
          src="assets\images\delete_24dp_RGBA(100, 16, 32)_FILL0_wght400_GRAD0_opsz24.png"
          *ngIf="recipe.author_email === userEmail"
          (click)="showPopUp('delete', recipe)"
        />
      </div>
    </div>
  </div>

  <div
    id="popUpContainer"
    class="popUpInfoContainer dNone"
    (click)="hidePopUp()"
  >
    <div
      id="popUp"
      class="editEntry"
      (click)="$event.stopPropagation()"
      *ngIf="entry"
    >
      <form (ngSubmit)="saveEntry()" enctype="multipart/form-data">
        <div class="entryHeader">
          <h5>
            {{ entry.id ? "Rezept bearbeiten" : "Neues Rezept erstellen" }}
          </h5>
          <input
            class="entryInput"
            type="text"
            placeholder="Betreff"
            [(ngModel)]="entry.title"
            name="title"
            required
          />
        </div>

        <div>
          <quill-editor
            [(ngModel)]="entry.content"
            name="content"
            placeholder="Dein Rezept"
          ></quill-editor>
        </div>

        <div>
          <label for="images">Bilder hochladen (max. 4):</label>
          <div *ngFor="let index of [1, 2, 3, 4]" class="image-upload-container">
            <div *ngIf="isImageSlotAvailable(index)" class="upload-image-field">
              <input
                type="file"
                [id]="'image' + index"
                (change)="onFileChange($event, index)"
                accept=".jpg,.png"
              />
            </div>
          </div>
          <div *ngIf="imageFiles.length > 0">
            <p>Neue Bilder:</p>
            <ul>
              <li *ngFor="let file of imageFiles">{{ file.name }}</li>
            </ul>
          </div>
          <div class="deleteImageContainer">
          <div *ngFor="let imageUrl of getImageArray(entry)" >
            <div *ngIf="imageUrl" class="deleteImage">
              <img [src]="imageUrl" alt="Image" width="100" />
              <button type="button" (click)="removeImageByUrl(imageUrl)">Bild löschen</button>
            </div>
          </div></div>
        </div>

        <div class="buttonContainer">
          <button
          (click)="hidePopUp()"
        >
          Abbrechen
        </button>
          <button
            type="submit"
            [disabled]="!entry.content || imageFiles.length > 4"
          >
            Rezept speichern
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="this.showImageUrl" class="showImage">
      <img [src]="this.showImageUrl" />
    </div>

    <div
      class="editEntry"
      (click)="$event.stopPropagation()"
      *ngIf="entryToDelete"
    >
      <h3>Rezept löschen</h3>
      <p>Möchtest du dieses Rezept löschen?</p>
      <div class="buttonContainer">
        <button (click)="hidePopUp()">Abbrechen</button>
        <button (click)="deleteEntry()">Löschen</button>
      </div>
    </div>
  </div>
</section>

<app-scroll-to-top-button></app-scroll-to-top-button>
