section {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  min-width: 80vw;
}

.contentContainer {
  width: 100%;
  padding: 4px;
}

.hint {
  position: absolute;
  top: 16px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid rgba(100, 16, 32);
  background-color: antiquewhite;
  color: rgba(100, 16, 32);
  cursor: pointer;
}

/* search.scss */
.searchContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  
  input {
    line-height: 1;
    font-size: 1rem;
    color: inherit;
    padding: 1rem;
    border: solid 1px #b2b8b8;
    appearance: none;
    background: antiquewhite;
    border-radius: 0.25rem;
    ::placeholder {
      color: #b2b8b8;
    }
  }

  button {
    background-color: rgb(100, 16, 32);
    color: white !important;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    border: none;
    color: inherit;

    &:hover {
      background-color: rgb(139, 26, 16);
    }

    &:disabled {
      background-color: darkgray;
      cursor: not-allowed;
    }
  }
}

.searchResultsContainer {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
}

.searchResults {
  padding: 10px;
}

.searchResults div {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.searchResults div:hover {
  background-color: #f0f0f0;
}

/* Infos Bar.scss */

#infoBar {
  width: 400px;
  background-color: rgba(100, 16, 32);
  color: white;
  padding: 16px;
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  z-index: 999;

  button {
    background-color: antiquewhite;
    color: rgba(100, 16, 32) !important;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: white;
    }

    &:disabled {
      background-color: lightgray;
      color: gray !important;
      cursor: not-allowed;
    }
  }
}

.infoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#filler {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Bildanzeige-Container */
.imageModalContent {
  position: absolute;
  left: 100px;
  top: 16px;
  background-color: #fff;
  padding: 32px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.imageModalContent img {
  max-height: 80vh;
  width: auto;
}

.imageModal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 24px;
  cursor: pointer;
}

.imageModal .close:hover {
  color: #000;
}


/* family-tree.scss */
.familyTree {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .generation {
    margin: 10px 0;
    width: 100%;
    text-align: center;

    h3 {
      margin-bottom: 8px;
      margin-top: 0px;
    }

    h4 {
      margin: 0;
    }

    .personList {
      display: flex;
      justify-content: center;

      .children {
        margin-top: 10px;
      }
    }
  }
}

.person {
  margin: 5px 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.mainPerson {
  font-weight: bold;
  border: 2px solid rgb(100, 16, 32);
}

@media (max-width: 1200px) {
  .person {
    padding: 4px;
    width: 150px;
    min-height: 40px;
  }
}

@media(max-width: 750px) {
  .person {
    width: 120px;
    font-size: 14px;
    margin: 4px;
  }
}

@media(max-width: 580px) {
  .personList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .searchContainer {
    margin-top:60px;
  }
}

@media(max-width: 400px) {
  #infoBar {
    width: 250px;
  }

  .infoHeader {
    flex-direction: column-reverse;
  }

  .imageModalContent {
    position: absolute;
    left: 16px;
    top: 16px;
    padding: 36px 8px;
  }

  .imageModalContent img {
    max-height: auto;
    width: 80vw;
  }
}