<section>
  <h2>Infos für alle</h2>
  <p>
    Willkommen auf der Infoseite!<br />
    Dies ist für allgemeine Infos, die ihr habt und teilen möchtet. Wenn es sich
    nur auf eine bestimmte Person bezieht, geht bitte zur
    <a routerLink="/ancestors" routerLinkActive="active">Stammfolge</a>, wählt
    die entsprechende Person aus, und klickt auf den Button Diskussion in den
    Personeninfos oder sucht auf
    <a routerLink="/discussions" routerLinkActive="active">Diskussionen</a> nach
    einer bereits existierende Diskussion.<br /><br />
    Jeder Nutzer kann immer nur seinen eigenen Beiträge bearbeiten oder löschen.
    Sollten euch Beiträge auffallen, die problematisch sind, informiert uns
    bitte.
  </p>

  <div class="searchContainer">
    <input type="text" placeholder="Suche nach Infos..." />
    <button>Suchen</button>
  </div>
  <button>Eigenen Beitrag erstellen</button>
  <h3>Vorhandene Infos</h3>
  <ul>
    <li *ngFor="let info of infos">Beitrag zu: {{ info.title }}</li>
  </ul>

  <div
    id="popUpContainer"
    class="popUpInfoContainer"
    (click)="hidePopUp()"
    [class.dNone]="!editEntryData"
  >
    <form (ngSubmit)="addEntry()" enctype="multipart/form-data">
      <div class="entryHeader">
        <h5>Dein Beitrag:</h5>
        <input
          class="entryInput"
          type="text"
          placeholder="Betreff"
          [(ngModel)]="newEntry.title"
          name="title"
          required
        />
      </div>

      <div>
        <quill-editor
          [(ngModel)]="newEntry.content"
          name="content"
          placeholder="Dein Beitrag"
        ></quill-editor>
      </div>

      <div>
        <label for="images">Bilder hochladen (max. 4):</label>
        <input
          type="file"
          id="images"
          (change)="onFileChange($event)"
          multiple
          accept=".jpg,.png"
        />
        <div *ngIf="imageFiles.length > 0">
          <p>Ausgewählte Bilder:</p>
          <ul>
            <li *ngFor="let file of imageFiles">{{ file.name }}</li>
          </ul>
        </div>
      </div>

      <div class="buttonRightContainer">
        <button
          type="submit"
          [disabled]="!newEntry.content || imageFiles.length > 4"
        >
          Beitrag hinzufügen
        </button>
      </div>
    </form>
    <div
      class="editEntry"
      (click)="$event.stopPropagation()"
      *ngIf="deleteEntryData"
    >
      <h3>Beitrag löschen</h3>
      <p>Möchtest du diesen Beitrag löschen?</p>
      <div class="buttonContainer">
        <button (click)="hidePopUp()">Abbrechen</button>
        <button (click)="deleteEntry()">Löschen</button>
      </div>
    </div>
  </div>
</section>
<app-scroll-to-top-button></app-scroll-to-top-button>
