header {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    height: 100%;

    img {
        width: 50px;
    }
  }

  @media(max-width:1000px) {
    header {
      display: none;
    }
}