<div>
    <img id="mobileLogo" src="assets/images/logo_641020.svg" alt="logo" (click)="showNav()"/>
</div> 

<header>
  <div>
      <img class="logo" src="assets/images/logo_FFFFFF.svg" alt="logo" (click)="hideNav()"/>
  </div>
  <nav class="headerlinks">
    <a routerLink="/welcome" routerLinkActive="active">Startseite</a>
    <a routerLink="/ancestors" routerLinkActive="active">Stammfolge</a>
    <a routerLink="/discussions" routerLinkActive="active">Diskussionen</a>
    <a routerLink="/infos" routerLinkActive="active">Infos</a>
    <a routerLink="/recipes" routerLinkActive="active">Familienrezepte</a>
    <div id="divider"></div>
    <button (click)="logout()">Ausloggen</button> 
  </nav>

</header>
